<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <title>Spotify Login</title>
    </head>

    <body>
        {{>header}}
        <div class="container gallery">
            <div class="row">
                <div class="col">
                    one
                <img src="https://external-preview.redd.it/BpoLJ5kmSsEgQphIVadnOEEsA2DF3KNl5y1olz4P60Q.jpg?auto=webp&s=a6f01c8e194170e614a684526b24e74c40061346" alt="">
                </div>
                <div class="col">
                    two
                    <img src="https://external-preview.redd.it/BpoLJ5kmSsEgQphIVadnOEEsA2DF3KNl5y1olz4P60Q.jpg?auto=webp&s=a6f01c8e194170e614a684526b24e74c40061346" alt="">
                </div>
                <div class="col">
                    three
                    <img src="https://external-preview.redd.it/BpoLJ5kmSsEgQphIVadnOEEsA2DF3KNl5y1olz4P60Q.jpg?auto=webp&s=a6f01c8e194170e614a684526b24e74c40061346" alt="">
                </div>
            </div> 
        </div>    

      
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
</html>




{{!-- {{>header}}

<header>
    <div class="logo">
        <a href="/"><h1>Spotify Login</h1></a>
    </div>

    <div class="links">
        <ul>
            <li>About</li>
            <a href="/"><li>Login</li></a>
            <li>Register</li>
        </ul>
    </div>
</header>

 <div class="container gallery">
    <div class="row">
        <div class="col">
            one
        <img src="https://external-preview.redd.it/BpoLJ5kmSsEgQphIVadnOEEsA2DF3KNl5y1olz4P60Q.jpg?auto=webp&s=a6f01c8e194170e614a684526b24e74c40061346" alt="">
        </div>
        <div class="col">
            two
            <img src="https://external-preview.redd.it/BpoLJ5kmSsEgQphIVadnOEEsA2DF3KNl5y1olz4P60Q.jpg?auto=webp&s=a6f01c8e194170e614a684526b24e74c40061346" alt="">
        </div>
        <div class="col">
            three
            <img src="https://external-preview.redd.it/BpoLJ5kmSsEgQphIVadnOEEsA2DF3KNl5y1olz4P60Q.jpg?auto=webp&s=a6f01c8e194170e614a684526b24e74c40061346" alt="">
        </div>
    </div> 
</div>    



{{>footer}} --}}