 <header>
    <div class="logo">
        <a href="/"><h1>Spotify Login</h1></a>
    </div>

    <div class="links">
        <ul>
            <li>About</li>
            <a href="/"><li>Login</li></a>
            <li>Register</li>
        </ul>
    </div>
</header>