{{>header}}

<header>
    <div class="logo">
        <a href="/"><h1>Spotify Login</h1></a>
    </div>

    <div class="links">
        <ul>
            <li>About</li>
            <a target="_blank" href='https://accounts.spotify.com/authorize?client_id={{client_id}}&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4000'><li id="login">Login</li></a>
            <li>Register</li>
        </ul>
    </div>
</header>

<div class="container gallery">
    <div class="row">
        <div class="col">
            one
        <img src="https://external-preview.redd.it/BpoLJ5kmSsEgQphIVadnOEEsA2DF3KNl5y1olz4P60Q.jpg?auto=webp&s=a6f01c8e194170e614a684526b24e74c40061346" alt="">
        </div>
        <div class="col">
            two
            <img src="https://external-preview.redd.it/BpoLJ5kmSsEgQphIVadnOEEsA2DF3KNl5y1olz4P60Q.jpg?auto=webp&s=a6f01c8e194170e614a684526b24e74c40061346" alt="">
        </div>
        <div class="col">
            three
            <img src="https://external-preview.redd.it/BpoLJ5kmSsEgQphIVadnOEEsA2DF3KNl5y1olz4P60Q.jpg?auto=webp&s=a6f01c8e194170e614a684526b24e74c40061346" alt="">
        </div>
    </div> 
</div>    

{{>footer}}

    